.page-header h1 {
  text-align: center;
}

.latestNotes {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}
